@model XTEC_Digital_SQL.Models.Archivo

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Archivo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArchivoPdf)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArchivoPdf)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tamanio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tamanio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fecha)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Carpeta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Carpeta.CarpetaId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ArchivoId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
